<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Infoud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Auth</servlet-name>
    <servlet-class>Auth</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Crudopration</servlet-name>
    <servlet-class>Crudopration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Crudopration</servlet-name>
    <url-pattern>/Crudopration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Viewemp</servlet-name>
    <servlet-class>Viewemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewemp</servlet-name>
    <url-pattern>/Viewemp</url-pattern>
  </servlet-mapping>
</web-app>